<h2 class="text-center"><%= @list.name %></h2>







<ul class="list-items">
  <% @list.items.each do |item| %>
    <li id="modifyItem-<%= item.id %>" class="item <%= 'completed' if item.completed %>">

      <%= item.description %>
      <%= link_to '<i class="glyphicon glyphicon-check"></i>'.html_safe, toggle_list_item_path(@list, item), method: :put, remote: true %>
      <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, list_item_path(@list, item), method: :delete, remote: true %>

    </li>
  <% end %>

</ul>

    <%= form_with model: [@list, @item], local: true do |form| %>
      <%= form.hidden_field :completed, value: false %>
      <%= form.text_field :description, placeholder: "Add to your list" %>
    <% end %>



    <%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-success btn-sm' %>
    <%= link_to 'Back', :back, class:"btn btn-primary btn-sm dark-button text-center text-uppercase"  %>
