<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="profileHeader">
        Profile for <%= @user.firstname %> <%= @user.lastname %>
        <small><%= link_to "edit your profile", edit_user_registration_path %></small>
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>My Lists<small> <%= link_to 'New List', new_list_path %></small></h3>
      <ul>
        <% @lists.each do |list| %>
          <li>
            <%= link_to list.name, edit_list_path(list) %>
          </li>
        <% end %>
      </ul>

    </div>
    <div class="col-md-6">
      <h3>My Blogs <small> <%= link_to 'New Article', new_article_path %></small></h3>
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, edit_article_path(article) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
