<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="submitArticle actions pull-right">
    <%= form.submit %>
  </div>

  <div class="field articleTitle">
    <%= form.text_field :title, id: :article_title, placeholder: "Title" %>
  </div>

  <div class="field articleContent">
    <%= form.text_area :content, id: :article_content, class: 'tinymce', rows: 20, cols: 100 %>
  </div>

  <%= tinymce %>


  <div class="submitArticle actions pull-right">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', :back, class: "btn btn-primary btn-sm dark-button text-center text-uppercase" %>
